@using Ribbit_API.Models
@model Product;

@{
    ViewData["Title"] = Model.Nombre + " | Detalles";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Detalles de producto</h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descripcion" class="control-label"></label>
                                <textarea asp-for="Descripcion" class="form-control"></textarea>
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Precio" class="control-label"></label>
                                <input asp-for="Precio" class="form-control" />
                                <span asp-validation-for="Precio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Stock" class="control-label"></label>
                                <input asp-for="Stock" class="form-control" />
                                <span asp-validation-for="Stock" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-primary float-sm-end" asp-action="Editar">Editar</a>
                        <a class="btn btn-outline-secondary" asp-action="Index">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>